In [116]:
import pandas as pd
import numpy as np

In [117]:
df = pd.read_csv(r'E:\ishaq DE\Case-Study-Data-Cleaning\data\bank_marketing.csv')

In [118]:
df.columns

Index(['client_id', 'age', 'job', 'marital', 'education', 'credit_default',
       'mortgage', 'month', 'day', 'contact_duration', 'number_contacts',
       'previous_campaign_contacts', 'previous_outcome', 'cons_price_idx',
       'euribor_three_months', 'campaign_outcome'],
      dtype='object')

In [119]:
df.info

<bound method DataFrame.info of        client_id  age          job  marital            education  \
0              0   56    housemaid  married             basic.4y
1              1   57     services  married          high.school
2              2   37     services  married          high.school
3              3   40       admin.  married             basic.6y
4              4   56     services  married          high.school
...          ...  ...          ...      ...                  ...
41183      41183   73      retired  married  professional.course
41184      41184   46  blue-collar  married  professional.course
41185      41185   56      retired  married    university.degree
41186      41186   44   technician  married  professional.course
41187      41187   74      retired  married  professional.course

      credit_default mortgage month  day  contact_duration  number_contacts  \
0                 no       no   may   13               261                1
1            unknown       no   may   19               149                1
2                 no      yes   may   23               226                1
3                 no       no   may   27               151                1
4                 no       no   may    3               307                1
...              ...      ...   ...  ...               ...              ...
41183             no      yes   nov   30               334                1
41184             no       no   nov    6               383                1
41185             no      yes   nov   24               189                2
41186             no       no   nov   17               442                1
41187             no      yes   nov   23               239                3

       previous_campaign_contacts previous_outcome  cons_price_idx  \
0                               0      nonexistent          93.994
1                               0      nonexistent          93.994
2                               0      nonexistent          93.994
3                               0      nonexistent          93.994
4                               0      nonexistent          93.994
...                           ...              ...             ...
41183                           0      nonexistent          94.767
41184                           0      nonexistent          94.767
41185                           0      nonexistent          94.767
41186                           0      nonexistent          94.767
41187                           1          failure          94.767

       euribor_three_months campaign_outcome
0                     4.857               no
1                     4.857               no
2                     4.857               no
3                     4.857               no
4                     4.857               no
...                     ...              ...
41183                 1.028              yes
41184                 1.028               no
41185                 1.028               no
41186                 1.028              yes
41187                 1.028               no

[41188 rows x 16 columns]>

In [120]:
df['job']

0          housemaid
1           services
2           services
3             admin.
4           services
            ...
41183        retired
41184    blue-collar
41185        retired
41186     technician
41187        retired
Name: job, Length: 41188, dtype: object

In [121]:
df['job'] = df['job'].str.replace('.', '_', regex=False)

In [122]:
df['job'].str.find('.') #ensure by checking that any "." are present or not.

0       -1
1       -1
2       -1
3       -1
4       -1
        ..
41183   -1
41184   -1
41185   -1
41186   -1
41187   -1
Name: job, Length: 41188, dtype: int64

In [123]:
df['education'] #here we see the dots

0                   basic.4y
1                high.school
2                high.school
3                   basic.6y
4                high.school
                ...
41183    professional.course
41184    professional.course
41185      university.degree
41186    professional.course
41187    professional.course
Name: education, Length: 41188, dtype: object

In [124]:
df['education'] = df['education'].str.replace('unknown', 'np.NaN', regex=False).str.replace('.', '_', regex=False)

In [125]:
df['education'] #dots and unknown are removed.

0                   basic_4y
1                high_school
2                high_school
3                   basic_6y
4                high_school
                ...
41183    professional_course
41184    professional_course
41185      university_degree
41186    professional_course
41187    professional_course
Name: education, Length: 41188, dtype: object

In [133]:
df['education'].dtype #it show '0' means object in pandas.

dtype('O')